<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        .footer {
            background-color:black;
        }
    </style>
</head>
<body>
<footer class="footer p-3 mb-auto" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
        <div class="text-center text-warning">
            <h4>&copy;Copyright to Inexture</h4>
        </div>
    </div>
</footer>

</body>
</html>